* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}
.wrapper {
    height: 100%;
    padding: 50px;
}
img {
    height: 500px;
    max-width: 100%;
    object-fit: cover;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
    opacity: 0.2;
}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff;
}

/* Элемент точки */
.slick-dots li  button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider{
    position: relative;
    text-align: center;
    padding: 0 60px;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10; 
    font-size: 0;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(img/arrowBtn1.png) center center no-repeat;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid rgba(250, 250, 250, 0.15);
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
}
.slider .slick-arrow.slick-next {
    right:0;
    background: url(img/arrowBtn.png) center center no-repeat;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid rgba(250, 250, 250, 0.15);
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
}
.slider__item {

}